<div class="mt-4">
	<form method="GET" action="">
		<div class="form-group">
			<label for="id">Từ khóa</label>
			<input
				type="text"
				name="id"
				class="form-control"
				id="id"
				placeholder="Nhập từ khóa..."
			/>
		</div>

		<button type="submit" class="btn btn-primary">Tìm kiếm</button>
	</form>
</div>